:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: url(../assets/castle.png);
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr;

}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

h2 {
    background-color: rebeccapurple;
    color: magenta;
    text-align: center;
    border-radius: 5px;
}

.fighter-container {
    width: 200px;
    text-align: center;
}

.fighter-img {
    width: 150px;
}

.goblin {
    font-size: 1.5rem;
    background-color: lavender;
    display: flex;
    width: 200px;
    border: solid 1px purple;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.goblin:hover {
    background-color: blueviolet;
}

.fighter-img {
    transition: transform 1s ease-in-out;
}
.unconscious {
    transform: rotate(-90deg);
}